.relative {
    position: relative;
    width: 270px;
    height: 200px;
    background-color: pink;
  } 
  
.absolute {
    position: absolute;
    top: 30px;
    right: 22px;
    width: 230px;
    height: 140px;
    background-color: blue;
}

.what{
    position: absolute;
    top: 20px;
    right: 26px;
    width: 170px;
    height: 90px;
    border: 3px dashed black;
    background-color: yellow;
}
.why{
    position: absolute;
    top: -34px;
    left: 40px;
    font-size: 50px;
}